*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 2.98rem;
  margin-bottom: 24px;
}
h2{
  font-size: 2.48;
}
h3{
  font-size: 2.07;
  margin-bottom: 1.25rem;
}
h4{
  font-size: 1.7;
}
.container{
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.menuicon{
  background-color: transparent;
  border: none;
}
header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header{
  padding-top:1.5rem ;
  padding-bottom: 1rem;
  border-bottom: 1px solid darkgrey;

}
#logo{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
#logo,h1,h2,h3,h4,h5{
  font-family: 'Lora', serif;
  font-weight: 600;


}
p{
  color: rgb(61, 60, 60);
  max-width: 640px;
}
.buttonholder{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 40px;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in;

}

.buttonprimary{

  background-color: black;
  color: white;
}      

.buttonprimary:hover {
  background-color: rgb(47, 45, 45);
}

.buttonsecondary:hover{
  background-color: rgb(190, 190, 190);
  color: white;
}

.buttonsecondary{
 
  color: black;
  border: 1px solid black;
}
.buttons{
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  margin-top: 2rem;

}

#aboutsection{
  background-color: rgb(219,219,219);
}

section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.bloglist{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.blog{
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}
.blog img{
  width: 100%;
  margin-top: 1rem;
  
}
.blog p{
  font-size: 0.9rem;
}
nav{
  display: none;
}
@media only screen and (min-width: 576px) 
{
.bloglist{
display: grid;
grid-template-columns: 1fr 1fr;
}
}

@media only screen and (min-width: 600px) {
 .buttons{
  display: flex;
  flex-direction: row;
 }
}
@media only screen and (min-width: 768px) {
 .menuicon{
  display: none;
 }
 nav{
  display: block;
 }
 nav ul{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
 }
 nav a{
  text-decoration: none;
  color: rgb(54, 50, 50);
 }
 nav a:hover{
  text-decoration: underline;
 }
 .bloglist{
  grid-template-columns: 1fr 1fr 1fr ;
 }
}
